<%- include('partials/header.ejs') %> 

<div>
    <% for(let i=0;i<channels.length;i++) {%>
        <a id="channel" href="<%=channels[i].channelName%>">
            <%= channels[i].channelName %>
        </a>
        <a style="display: none;" id="channelCode" onclick="post()"><%= channels[i].channelCode %></a>

    <%}%>

    <a id="user" style="display: none;"><%=username%></a>
</div>


<script>

    const el = document.querySelector('#channel')
    const cD = document.querySelector('#channelCode')
    const val = el.innerHTML
    const code = cD.innerHTML.trim()
    const username = document.querySelector('#user').innerHTML
    el.href = '/chat?userName='+encodeURIComponent(username)+'&channelCode='+encodeURIComponent(code)
</script>

<%- include('partials/footer.ejs') %>