<%- include('partials/header.ejs') %> 

<div>
    <% for(let i=0;i<channels.length;i++) {%>
        <a id="channel" href="<%=channels[i].channelName%>">
            <%= channels[i].channelName %>
        </a>
        <a style="display: none;" id="channelCode"><%= channels[i].channelCode %></a>

    <%}%>
</div>


<script>

    const el = document.querySelector('#channel')
    const cD = document.querySelector('#channelCode')
    const val = el.innerHTML
    const code = cD.innerHTML.trim()
    console.log(val.trim());
    el.href = '/chat?channelName='+encodeURIComponent(val.trim())+'&channelCode='+encodeURIComponent(code)
</script>

<%- include('partials/footer.ejs') %>